body {
    background-color: lightblue;
}

h1 {
    color: red;
    font-family: Arial, sans-serif;
}

h2 {
    color: green;
    font-family: Arial, sans-serif;
}

.imagen {
    width: 300px;
    height: 400px;
}